<section class="number-highlight__sec">
  <h1 draggable="true" (dragstart)="onDragStart($event)">Task #1: Numbers highlight</h1>
  <p numHighlight="bold">
    Angular 5 will release 3.0 on October 23, 2017. Key improvements in Angular 5 include support for progressive Web apps, a
    build optimizer and improvements related to Material Design. Angular 6 release will be pushed back to March or April
    2018, with Angular 7 showing up in September of October 2018. Each version is expected to be backward-compatible with
    the prior release. Google pledged to do twice-a-year upgrades.
  </p>
</section>
<hr>
<section class="translate__sec">
  <h1 draggable="true" (dragstart)="onDragStart($event)">Task #2: Translate</h1>
  <p translate lang="DE" label="js_def">
    JavaScript, often abbreviated as JS, is a high-level, dynamic, weakly typed, object-based, multi-paradigm, and interpreted
    programming language. Alongside HTML and CSS, JavaScript is one of the three core technologies of World Wide Web content
    production. It is used to make webpages interactive and provide online programs, including video games. The majority
    of websites employ it, and all modern web browsers support it without the need for plug-ins by means of a built-in JavaScript
    engine. Each of the many JavaScript engines represent a different implementation of JavaScript, all based on the ECMAScript
    specification, with some engines not supporting the spectrum fully, and with many engines supporting additional features
    beyond ECMA
  </p>
  <p translate lang="ES" label="oop_def">
    Object-oriented programming (OOP) is a programming paradigm based on the concept of "objects", which may contain data, in
    the form of fields, often known as attributes; and code, in the form of procedures, often known as methods. A feature
    of objects is that an object's procedures can access and often modify the data fields of the object with which they are
    associated (objects have a notion of "this" or "self"). In OOP, computer programs are designed by making them out of
    objects that interact with one another.[1][2] There is significant diversity of OOP languages, but the most popular ones
    are class-based, meaning that objects are instances of classes, which typically also determine their type.
  </p>
  <p translate lang="UA" label="http_def">
    The Hypertext Transfer Protocol (HTTP) is an application protocol for distributed, collaborative, and hypermedia information
    systems. HTTP is the foundation of data communication for the World Wide Web.
  </p>
</section>
<hr>
<section class="dragzone__sec">
  <h1 draggable="true" (dragstart)="onDragStart($event)">Task #3: Dragzone</h1>
  <div class="dragzone" dragzone width="auto" height="500" dropMsg="drop here"></div>
</section>