.dropdown__wrapper {
  position: relative;
}

.dropdown-toggle {
  background: #ccc;
  padding: 1rem;
  min-height: 60px;
  max-width: 360px;
  position: relative;
  z-index: 3;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 2px 2px 8px  #000000;
  -moz-box-shadow: 2px 2px 8px  #000000;
  box-shadow: 2px 2px 8px #000;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 35px;
}

.dropdown-toggle .carret {
  position: absolute;
  right: 20px;
  top: 50%;
  color: #333;
  transform: translateY(-50%);
  -webkit-transition: transform .5s;
  -moz-transition: transform .5s;
  -ms-transition: transform .5s;
  -o-transition: transform .5s;
  transition: transform .5s;
}
.shown .dropdown-toggle .carret {
  transform: translateY(-50%) rotate(180deg);
  color: #bbb;
}
.dropdown-list {
  max-height:0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  width: 100%;
  max-width: 340px;
  margin: 0 10px;
  z-index: 2;
  overflow: hidden;
  top: 60px;
  background-color: #eee;
  -webkit-transition: max-height .6s;
  -moz-transition: max-height .6s;
  -ms-transition: max-height .6s;
  -o-transition: max-height .6s;
  transition: max-height .6s;
  -webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
}

.shown .dropdown-list {
  max-height: 1000px;
}

.dropdown-item {
  padding: .5rem;
  cursor: pointer;
  transition: padding-left .33s;
}
.dropdown-item:not(.current):hover {
  padding-left: 2.5rem;
  background-color: #93ffa8;
  -webkit-box-shadow: inset -2px 3px 30px -6px rgba(71,71,71,1);
  -moz-box-shadow: inset -2px 3px 30px -6px rgba(71,71,71,1);
  box-shadow: inset -2px 3px 30px -6px rgba(71,71,71,1);
}

.dropdown-item.current {
  background-color: #93ffa8;
  -webkit-box-shadow: inset -2px 3px 30px -6px rgba(71,71,71,1);
  -moz-box-shadow: inset -2px 3px 30px -6px rgba(71,71,71,1);
  box-shadow: inset -2px 3px 30px -6px rgba(71,71,71,1);
}


