<div class="cards">
  <div class="card row">
    <div class="img__wrap col-4">
      <div class="center temp-msg text-center">image here</div>
    </div>
    <div class="description__wrap col-8">
      <h4 class="card-header">Year</h4>
      <p class="card-body">Description</p>
      <div class="card-footer left text-center">
        <a href="/details">Details</a>
      </div>
    </div>
  </div>
  <div class="card row">
    <div class="img__wrap col-4">
      <div class="center temp-msg text-center">image here</div>
    </div>
    <div class="description__wrap col-8">
      <h4 class="card-header">Year</h4>
      <p class="card-body">Description</p>
      <div class="card-footer left text-center">
        <a href="/details">Details</a>
      </div>
    </div>
  </div>
  <div class="card row">
    <div class="img__wrap col-4">
      <div class="center temp-msg text-center">image here</div>
    </div>
    <div class="description__wrap col-8">
      <h4 class="card-header">Year</h4>
      <p class="card-body">Description</p>
      <div class="card-footer left text-center">
        <a href="/details">Details</a>
      </div>
    </div>
  </div>
  <div class="card row">
    <div class="img__wrap col-4">
      <div class="center temp-msg text-center">image here</div>
    </div>
    <div class="description__wrap col-8">
      <h4 class="card-header">Year</h4>
      <p class="card-body">Description</p>
      <div class="card-footer left text-center">
        <a href="/details">Details</a>
      </div>
    </div>
  </div>
</div>