<div class="container">
  <div class="row">
    <div class="col-6 gallery">
      gallery
    </div>
    <div class="col-6 info">
      <div class="description__head">
        <div class="year left">2017</div>
        <div class="price right">115 000 EUR</div>
      </div>
      <p class="description__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia fugiat adipisci excepturi animi. Ad, placeat! Voluptatibus
        repellendus quis voluptate nam magnam aliquam, in cum cumque distinctio expedita ducimus porro tempora?
      </p>
      <h1>+380931234567</h1>
    </div>
  </div>
</div>