<h1>Splitter</h1>
<div class="container">
  <div
    splitter
    [options]="{ background: '#e4e4e4', orientation: 'vertical' }"
    >
    <div
      class="splitter-spot"
      splitter-spot
      mainPanelSelector=".panel--main"
    ></div>
    <div class="panel--main">
      <div class="panel-content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque distinctio enim itaque, iusto mollitia rem similique tempora. Autem debitis dolorem labore laboriosam magni nobis non totam ullam voluptas? Fugiat, reprehenderit?
      </div>
    </div>
    <div class="panel--secondary">
      <div class="panel-content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos incidunt iusto quos tenetur vero? Accusamus incidunt modi nemo? Aperiam eaque esse officia perferendis ratione sit suscipit tenetur, velit voluptatem voluptates?
      </div>
    </div>
  </div>
</div>
