.change-progress__btn,
.tabs--section button[type='button'] {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  border: 2px solid #000;
  outline: none;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  transform: scale(1);
}

.change-progress__btn:active,
.tabs--section button[type='button']:active {
  transform: scale(0.9);
}

.progress-value__input {
  border: 2px solid #000;
  padding: 0.33rem;
  outline: none;
  font-size: 1rem;
  margin-left: 1rem;
  text-align: center;
}
.progress-range__input {
  margin-left: 1rem;
}
